html {
    margin: 0px 0px;

}

body {
    font-size: 10px;
    width: auto;
    height: max-content;
}

.container {
    background-color: rgba(0, 128, 128, 0.4);
    width: 60rem;
    height: fit-content;
    margin:  auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 1rem;
}

h1 {
    color: white;
    font-size: 3rem;
}

.button-select {
    display: flex;
    gap: 5rem;
}

.button {
    width: 10rem;
    height: 10rem;
    font-size: 1.7rem;
    font-weight: 700;
    border: black 0.2rem solid;
}

.results-container {
    width: 55rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.results {
    
    /* padding: 1rem; */
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
}